:root{
    --side-bar-bg:#fcf8ff;
    --icons-color:#4b2c89;
    --brand-color:#4b2c89;
    --brand-span-color:orange;
    --side-bar-width-lg:25rem;
    --side-bar-width-sm:5.5rem;
    --font-size-xl:2.5rem;
    --font-size-lg:2rem;
    --font-size-md:1.6rem;
    --font-size-sm:1rem;
    --nav-list-bg-active:#fbeaff;
    --nav-list-bg-hover:#ffe8ff;
    --nav-icons-position:calc(100vh - 5rem);
    --side-nav-height:calc(100vh - 8rem);
    --layout-margin-lg:1.4rem 1.4rem 1.4rem calc(var(--side-bar-width-lg) + 2rem);
    --layout-margin-sm:1.4rem 1.4rem 1.4rem calc(var(--side-bar-width-sm) + 2rem);
    --shadow-1: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    --shadow-2:0 0 0.375rem 0.25rem rgba(161, 172, 184, 0.15);
    --shadow-3:rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

p,li,label,a{
    font-size: var(--font-size-md);
}

.layout-container{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}
.layout-container .left-side-bar{
    background: var(--side-bar-bg);
    width: var(--side-bar-width-sm);
    height: 100vh;
    position: fixed;
    transition: all .3s linear;
    box-shadow: var(--shadow-1);
}
.layout-container .layout-page{
    margin: var(--layout-margin-sm);
    width: calc(100% - var(--side-bar-width-sm));
    transition: all .3s linear;
}
.layout-toggle .left-side-bar{
    width: var(--side-bar-width-lg);
}
.layout-toggle .layout-page{
    margin: var(--layout-margin-lg);
    width: calc(100% - var(--side-bar-width-lg));
}
.top-header{
    width: 100%;
    border-radius: 0.375rem;
    box-shadow:var(--shadow-3);
    padding: .55rem;
    margin-bottom: 1rem;
    align-items: center;
    font-size: var(--font-size-md);
    background: var(--side-bar-bg);
}
.main-container{
    min-height: 100vh;
    padding: .35rem;
}
.footer{
    width: 100%;
    height: 5rem;
    padding: .35rem;
    box-shadow: var(--shadow-1);
    margin-top: 1rem;
    border-radius: 0.375rem;
}
.icons{
    background: var(--side-bar-bg);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: .52rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--icons-color);
}
.left-side-bar .icons {
    position: absolute;
    right: -1rem;
    bottom: var(--nav-icons-position);
}

.layout-toggle .nav-bars, .layout-toggle .short-brand{
    display: none;
}
.side-bar-brand a{
    font-size: var(--font-size-xl);
    color: var(--brand-color);
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    bottom: var(--nav-icons-position);    
}
.side-bar-brand a span{
    color: var(--brand-span-color);
}
.side-bar-brand .short-brand img{
    width: 4rem;
}
.side-bar-brand .full-brand img{
    width: 12rem;
    position: relative;
    top: 3rem;
    right: -2rem;
}
.left-side-bar .navbar{
    position: relative;
    top: 6rem;
    overflow: hidden;
}
.left-side-bar .navbar > ul{
    list-style: none;
    width: 100%;
    height: var(--side-nav-height);
    overflow: auto;
    padding: 1rem;
}
.left-side-bar .nav-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-md);
    color: var(--brand-color);
    line-height: 2rem;
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    &:hover{
        background: var(--nav-list-bg-hover);
    }
}

.left-side-bar .navbar i{
    width: 10%;
}
.left-side-bar .nav-items.active .nav-link{
    background: var(--nav-list-bg-active);
}
.left-side-bar .navbar > ul > li > ul {
    list-style: inside;
    list-style-type: disc;
    line-height: 3.5rem;
    width: 100%;
    /* display: none; */
    padding: 0 1.2rem;
    & ::marker{
        color: var(--brand-span-color);
    }
    & li a{
        color: var(--brand-color);
    }
}
.layout-container .nav-text{
    display: none;
}
.layout-toggle .nav-text{
    display: block;
}

.layout-toggle .left-side-bar .navbar > ul li .dropdown-link{
    position: relative;
}
.layout-toggle .left-side-bar .navbar > ul li .dropdown-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 0.42em;
    height: 0.42em;
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 1rem;
    top: 50%;
}
.menu-toggle > .dropdown-link::after {
    transform: translateY(-50%) rotate(135deg)!important;
}
.dropdown-items .sub-menu{
    display: none;
 }
 .layout-toggle .menu-toggle .sub-menu{
    display: block;
    
}
li.sub-nav-item {
    padding-left: 1rem;
}
.left-side-bar .navbar ul::-webkit-scrollbar {
    width: .6rem;
}
.left-side-bar .navbar ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.left-side-bar .navbar ul::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker gray handle */
    border-radius: 10px; /* Round the edges of the scrollbar */
    border: 2px solid #f1f1f1; /* Add space around the handle */
}
.left-side-bar .navbar ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker gray when hovering */
}

.sub-nav-item.active a{
    color: var(--brand-span-color)!important;
}
.sub-nav-item:hover{
    background: var(--nav-list-bg-hover);
}


/* page layout */
.grid {
    display: grid;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
    grid-template-columns: repeat(3, 1fr);
}

.top-header > ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.displayProfile {
    background: var(--nav-list-bg-active);
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.displayProfile img {
    border-radius: 100%;
    width: 100%;
    height: auto;
    position: relative;
}

input{
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    background: transparent;
    width: 100%;
    font-size: var(--font-size-md);
    color: var(--brand-color);
    padding: 0 1rem;
}
.top-header .flex-box{
    display: flex;
    place-content: end;
}
.profileSetting {
    display: grid;
    background: var(--nav-list-bg-active);
    position: absolute;
    top: 4.5rem;
    border-radius: 1rem;
    list-style: none;
    padding: 1rem;
    text-align: left;
    line-height: 3rem;
    width: 20rem;
    right: 0;
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 0.52em;
        height: 0.52em;
        background: var(--nav-list-bg-active);
        transform: translateY(-50%) rotate(45deg);
        right: 1rem;
    }
}
/* end page Layout */


/* footer */
.footer{
    align-items: center;
    background: var(--side-bar-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer */
.hide{
    display: none;
}